html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  max-width: 50em;
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
}

.banner-body {
  font-size: 2rem;
  font-style: italic;
}
