html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
 margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: 50em;
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(0, 0, 0, .5);
}

.banner-body {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
